<div class="col-2 book" align="center">
  <div class="book-title">
    <a href="/books/<%= book.id %>"><%= book.title %></a>
    <p><%= link_to book.category.name, category_path(book.category_id), class: "badge badge-info" if book.category%></p>
  </div>
  <div class="book-author"> <%= book.author %></div>
</div>

<div class="col-2 img-book" align="center">
  <img data-title="<%= book.title %>"  data-author="<%= book.author %>" class="book-img" id="<%= index %>" src="" alt="book" width="60%">
</div>
