<h1>Listing Books</h1>
<p>Find me in app/views/books/index.html.erb</p>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Url_file</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.author %></td>
    <td><%= book.url_file %></td>
    <td><%= link_to 'Show', book %></td>
    <% if current_user.admin || current_user == book.owner_id %>
      <td><%= link_to 'Edit', edit_book_path(book) %></td>
      <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?',
                                  :method => :delete %></td>
    <% end %>  
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New book', new_book_path %>
