<div class="container show">
  <div class="row info">
    <div class="col-8">
      <h4><%= @book.title %></h4>
      <h4><%= @book.author %></h4>
      <summary class="description">Description:
        <details>
        <p id="description"> </p> </details>
      </summary>
      <div class="category">
          <b>Categories:</b>
          <p id="category"> </p>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4">
      <img id="book_img" src="" alt="book">
   </div>
  </div>

  <%= link_to 'Download', @url, class: 'btn btn-success' %>
  <%= link_to 'Back', books_path, class: 'btn btn-primary' %>
</div>



<script type="text/javascript">
String.prototype.allReplace = function(obj) {
    var retStr = this;
    for (var x in obj) {
        retStr = retStr.replace(new RegExp(x, 'g'), obj[x]);
    }
    return retStr;
};

$.ajax({
  url:'https://www.googleapis.com/books/v1/volumes?q=intitle:'+"<%= @book.title %>".allReplace({" " : "+"})
  +"+inauthor:"+"<%= @book.author %>".allReplace({" " : "+"})+"&maxResults=1",

  success: function(json){
  var book={ img: "" , description:"",subtitle: "" ,category:"", publishdate:"", publisher:""};
  var i = 0
  book.img=json.items[i].volumeInfo.imageLinks.smallThumbnail;
  book.subtitle=json.items[i].volumeInfo.subtitle;
  book.description=json.items[i].volumeInfo.description;
  book.category=json.items[i].volumeInfo.categories;

$("#book_img").attr("src",book.img);
$("#description").append(book.description);
$("#category").append(book.category);
$("#subtitle").append(book.subtitle);
}
});
</script>
