<nav class="navbar navbar-expand-lg navbar-dark bg-faded">
  <a class="navbar-brand" href="/">Book Club</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/books/#list-of-books">All Books <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
          <p class="dropdown-item">Logged as:  <%= current_user.email %></p>
          <%= link_to 'My Activity', profile_activity_path(current_user.id), :class => 'dropdown-item'  %>
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'dropdown-item' %> |
          <div class="dropdown-divider"></div>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>
        </div>
          <% else %>
            <%= link_to 'Register', new_user_registration_path, {:class => 'dropdown-item btn btn-small btn-success'}  %> |
            <%= link_to "Login", new_user_session_path, {:class => 'dropdown-item btn btn-small'}  %>
          <% end %>
      </li>
    </ul>
      <%= form_tag(search_books_path, method: :get, :class => 'form-inline my-2 my-lg-0') do%>
      <div class="form-group">
        <%= text_field_tag(:search, params[:search], class: 'form-control mr-sm-2')%>
      </div class="form-group">
      <%= submit_tag "Search", class: 'btn btn-outline-success' %>
      <% end %>
</nav>
